@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@layer base {
		:root {
			--background: 0 0% 100%;
			--foreground: 222.2 84% 4.9%;
			--card: 0 0% 100%;
			--card-foreground: 222.2 84% 4.9%;
			--popover: 0 0% 100%;
			--popover-foreground: 222.2 84% 4.9%;
			--primary: 21.5 64.5% 56.9%;
			--primary-foreground: 210 40% 98%;
			--secondary: 0 0% 0%;
			--secondary-foreground: 222.2 47.4% 11.2%;
			--muted: 210 40% 96.1%;
			--muted-foreground: 215.4 16.3% 46.9%;
			--accent: 210 40% 96.1%;
			--accent-foreground: 222.2 47.4% 11.2%;
			--destructive: 0 84.2% 60.2%;
			--destructive-foreground: 210 40% 98%;
			--border: 214.3 31.8% 91.4%;
			--input: 214.3 31.8% 91.4%;
			--ring: 221.2 83.2% 53.3%;
			--radius: 0.5rem;
		}

		.dark {
			--background: 222.2 84% 4.9%;
			--foreground: 210 40% 98%;
			--card: 222.2 84% 4.9%;
			--card-foreground: 210 40% 98%;
			--popover: 222.2 84% 4.9%;
			--popover-foreground: 210 40% 98%;
			--primary: 217.2 91.2% 59.8%;
			--primary-foreground: 222.2 47.4% 11.2%;
			--secondary: 217.2 32.6% 17.5%;
			--secondary-foreground: 210 40% 98%;
			--muted: 217.2 32.6% 17.5%;
			--muted-foreground: 215 20.2% 65.1%;
			--accent: 217.2 32.6% 17.5%;
			--accent-foreground: 210 40% 98%;
			--destructive: 0 62.8% 30.6%;
			--destructive-foreground: 210 40% 98%;
			--border: 217.2 32.6% 17.5%;
			--input: 217.2 32.6% 17.5%;
			--ring: 224.3 76.3% 48%;
		}
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer utilities {
	.link {
		@apply cursor-pointer text-lg lg:text-[0.8125rem] hover:text-burnt-orange;
	}
	.a-link {
		@apply p-2 cursor-pointer hover:text-burnt-orange;
	}
	.link2 {
		@apply cursor-pointer text-[0.8125rem] hover:text-burnt-orange;
	}

	.checkout-page {
		display: flex;
		justify-content: space-between;
		padding: 20px;
	}

	.checkout-form {
		flex: 0.6;
		display: flex;
		flex-direction: column;
	}

	.checkout-form h2 {
		font-size: 24px;
		margin-bottom: 20px;
	}

	.checkout-form section {
		margin-bottom: 20px;
	}

	.checkout-form label {
		display: block;
		margin-bottom: 10px;
	}

	.checkout-form input {
		width: 100%;
		padding: 10px;
		margin-top: 5px;
		margin-bottom: 15px;
		border: 1px solid #ccc;
		border-radius: 5px;
	}

	.payment-details div {
		display: flex;
		gap: 10px;
	}

	.summary {
		flex: 0.35;
		padding: 20px;
		background-color: #f9f9f9;
		border-radius: 10px;
	}

	.summary h3 {
		font-size: 18px;
		margin-bottom: 20px;
	}

	.summary-items {
		margin-bottom: 20px;
	}

	.summary-totals {
		margin-bottom: 20px;
	}

	.total-line {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
	}

	.grand-total {
		font-weight: bold;
	}

	.continue-button {
		width: 100%;
		padding: 10px;
		background-color: orange;
		color: white;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		text-align: center;
	}
	.input-error {
		border: 2px solid red;
	}
}
