@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@layer base {
		:root {
			--background: 0 0% 100%;
			--foreground: 222.2 84% 4.9%;
			--card: 0 0% 100%;
			--card-foreground: 222.2 84% 4.9%;
			--popover: 0 0% 100%;
			--popover-foreground: 222.2 84% 4.9%;
			--primary: 21.5 64.5% 56.9%;
			--primary-foreground: 210 40% 98%;
			--secondary: 0 0% 0%;
			--secondary-foreground: 222.2 47.4% 11.2%;
			--muted: 210 40% 96.1%;
			--muted-foreground: 215.4 16.3% 46.9%;
			--accent: 210 40% 96.1%;
			--accent-foreground: 222.2 47.4% 11.2%;
			--destructive: 0 84.2% 60.2%;
			--destructive-foreground: 210 40% 98%;
			--border: 214.3 31.8% 91.4%;
			--input: 214.3 31.8% 91.4%;
			--ring: 221.2 83.2% 53.3%;
			--radius: 0.5rem;
		}

		.dark {
			--background: 222.2 84% 4.9%;
			--foreground: 210 40% 98%;
			--card: 222.2 84% 4.9%;
			--card-foreground: 210 40% 98%;
			--popover: 222.2 84% 4.9%;
			--popover-foreground: 210 40% 98%;
			--primary: 217.2 91.2% 59.8%;
			--primary-foreground: 222.2 47.4% 11.2%;
			--secondary: 217.2 32.6% 17.5%;
			--secondary-foreground: 210 40% 98%;
			--muted: 217.2 32.6% 17.5%;
			--muted-foreground: 215 20.2% 65.1%;
			--accent: 217.2 32.6% 17.5%;
			--accent-foreground: 210 40% 98%;
			--destructive: 0 62.8% 30.6%;
			--destructive-foreground: 210 40% 98%;
			--border: 217.2 32.6% 17.5%;
			--input: 217.2 32.6% 17.5%;
			--ring: 224.3 76.3% 48%;
		}
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer utilities {
	.link {
		@apply cursor-pointer text-lg lg:text-[0.8125rem] hover:text-burnt-orange;
	}
	.a-link {
		@apply p-2 cursor-pointer hover:text-burnt-orange;
	}
	.link2 {
		@apply cursor-pointer text-[0.8125rem] hover:text-burnt-orange;
	}
	.link3 {
		@apply block text-[.75rem] font-bold tracking-[-0.01338rem];
	}
	.link4 {
		@apply text-[.8125rem] text-burnt-orange tracking-[0.05806rem] my-4;
	}
	.link5 {
		@apply text-[.875rem] font-bold tracking-[-0.01563rem];
	}
	.payment {
		@apply flex min-w-[17.5rem] border-2 border-gray-200 p-2 pl-3 rounded-md gap-4 hover:border-burnt-orange;
	}
	.checkinput {
		@apply min-w-[17.5rem] mt-2 mb-4 border-[0.0625rem] border-gray-300 p-[.35rem] rounded-md pl-3;
	}
	.paymentinput {
		@apply border-[0.0625rem] border-gray-300 p-[.35rem] rounded-md pl-3;
	}
	.total-line {
		@apply flex justify-between mb-2;
	}
	.total-pay {
		@apply text-body-m opacity-50 uppercase;
	}
	input::placeholder {
		font-size: 13px;
	}
	input[type='radio'] {
		accent-color: #d87d4a;
	}
}
